@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Lyon Blecher<br />
    Cape Town<br />
    <abbr title="Mobile">Mobile:</abbr>
    078 459 4955
</address>

<address>
    <strong>Email:</strong> <a href="mailto:lyonblecher@gmail.com">lyonblecher@gmail.com</a><br />
</address>
